.container {
    margin-left: auto;
    margin-right: auto;
}

.f_top {
    padding: 1.7rem 0;
    height: 2rem;
    border-bottom: 1px solid #e0e0e0;
    font-size: 1rem;
}

.f_top>.list_service>li {
    border-left: 0;
    width: 19.8%;
    height: 1.5rem;
    font-size: 1rem;
    text-align: center;
    border-left: 1px solid #e0e0e0;
}

.f_top>.list_service>li:first-child {
    border-left: 0;
}

.list_service a {
    color: #616161;
    transition: color .2s;
}

.f_top .list_service .iconfont {
    margin-right: .38rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
    vertical-align: -0.25rem
}

.f_middle {
    padding: 2.5rem 0;
}

.f_middle .footer-links {
    /* display: flex; */
    font-size: .75rem;
}

.f_middle .footer-links dt {
    font-size: .88rem;
    margin: -0.06rem 0 1.62rem;
    color: #424242;
    line-height: 1.25;
}

.f_middle .footer-links dd {
    margin: 10px 0 0;
    font-size: .75rem;
}

.f_middle .footer-links .col-links {
    width: 10rem;
    height: 7rem;
    margin: 0;
}

.f_middle .footer-contact {
    flex-direction: column;
    width: 15.8rem;
    height: 7rem;
    margin: 0 auto;
    align-items: center;
    border-left: 0.06rem solid #e0e0e0;
}

.f_middle .footer-contact .phone {
    margin: 0 0 .3rem;
    font-size: 1.38rem;
    line-height: 1;
    color: #ff6700;
}

.f_middle .footer-contact p {
    margin: 0 0 1rem;
    font-size: .75rem;
    text-align: center;
}

.f_middle .footer-contact a {
    /* border-color: #ff6700; */
    background: #fff;
    color: #ff6700;
    display: inline-block;
    border: 0.06rem solid #ff6700;
    transition: all .4s;
    width: 7.38rem;
    height: 1.75rem;
    font-size: .75rem;
    height: 1.75rem;
    text-align: center;
    border-radius: .2rem;

}

.f_middle .footer-contact a:hover {
    background: #ff6700;
    color: #fff;
}

.f_bottom {
    margin: 0 auto;
}

.f_bottom .f_logo {
    margin-right: 10px
}

.f_bottom .f_text {
    color: #b0b0b0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f_bottom .f_text .f_site {
    line-height: 1.125rem;
    margin: 0;
    font-size: .75rem;
    color: #757575;
}

.f_bottom .f_text .f_site span {
    margin: 0 .12rem;
    font-family: sans-serif;
    color: #b0b0b0;
    font-size: .75rem;
}

.f_bottom .f_text .f_permission {
    color: #b0b0b0;
    font-size: .75rem;
    align-self: start;
}

.f_bottom .f_text .f_permission a {
    color: #b0b0b0;
}

.f_bottom .f_text .f_info_link {
    margin: .25rem 0 0;
    align-self: start;
}

.f_bottom .f_text .f_info_link a img {
    /* width: auto; */
    width: 5rem;
    height: 1.75rem;
    margin-left: 0;
    margin-bottom: .94rem;
    background: 0 0 0 0 url(../images/spirit.png) no-repeat;
}