#navCategory {
  width: 7rem;
}

#category {
  display: none;
}

#site-category {
  display: block;
}

#site-category .site-category-list {
  background: rgba(0, 0, 0, 0.6);
  border: 0;
}

.site-category-list .title:hover {
  background: #ff6700;
}

.site-category .site-category-list .title {
  color: #e0e0e0;
}

/* 轮播 */

.swiper-container1 {
  width: 1226px;
  height: 460px;
  box-sizing: border-box;
}

.swiper-container1 .swiper-wrapper a img {
  width: 100%;
  height: 100%;
}

.swiper-button-prev {
  margin-left: 235px;
}

.home-hero-container .swiper-pagination {
  top: 420px;
  left: 540px !important;
}

.home-hero-container .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  border-color: rgba(255, 255, 255, 0.3);
  transition: all 0.2s;
}

.home-hero-container .swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
  border: 2px solid rgba(255, 255, 255, 0.3);
}

/* home-hero-sub */

.home-hero {
  margin-bottom: 26px;
}

.home-hero .home-hero-sub {
  margin: 14px 0 0 -14px;
  min-height: 1px;
}

.home-hero-sub .sub-left .exposure .iconfont {
  font-size: 30px;
}

.home-channel-list {
  margin: 0;
  padding: 3px;
  width: 234px;
  list-style-type: none;
  font-size: 12px;
  text-align: center;
  background: #5f5750;
  flex-wrap: wrap;
}

.home-channel-list li {
  position: relative;
  /* float: left; */
  width: 70px;
  height: 82px;
  padding: 0 3px;
}

.home-channel-list a {
  display: block;
  padding-top: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.2s;
}

.home-channel-list a:hover {
  color: #fff;
}

.home-channel-list i {
  display: block;
  height: 24px;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 24px;
}

.home-channel-list li:before, .home-channel-list li:after {
  position: absolute;
  content: "";
  background: #665e57;
}

.home-channel-list li:before {
  top: -1px;
  left: 6px;
  width: 64px;
  height: 1px;
}

.home-channel-list li:after {
  top: 6px;
  left: 0;
  width: 1px;
  height: 70px;
}

.home-hero-sub a {
  display: block;
}

.home-hero-sub img {
  width: 316px;
  height: 170px;
}

.home-hero-sub div {
  margin-left: 14px;
}

.home-hero-container .home-banner-box {
  margin: 2px 0 42px;
  overflow: hidden;
  height: 120px;
}

.home-hero-container .home-banner-box img {
  width: 100%;
  height: 100%;
}

/* 主体部分开始 */

.home-main {
  padding-top: 22px;
  background: #f5f5f5;
}

.home-main .home-brick-box {
  height: 686px;
  margin-bottom: 8px;
}

.home-main .home-brick-box .box-hd {
  height: 58px;
  justify-content: space-between;
}

.home-main .home-brick-box .box-hd .title {
  font-size: 22px;
  font-weight: 20;
  line-height: 58px;
  color: #333;
  display: block;
}

.home-main .box-hd .more .more-link .iconfont {
  width: 12px;
  height: 12px;
  padding: 4px;
  margin-left: 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 12px;
  background: #b0b0b0;
  color: #fff;
  vertical-align: 1px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.home-main .box-hd .more .more-link {
  line-height: 58px;
  color: #424242;
  transition: all 0.4s;
}

.home-main .box-bd .first img {
  height: 614px;
}

.home-main .box-bd .span-first {
  width: 234px;
}

.home-main .box-bd .first {
  height: 614px;
}

.brick-item-active {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, -2px, 0);
}

.home-main .box-bd .span-last {
  width: 992px;
}

.home-main .box-bd .brick-list {
  flex-wrap: wrap;
}

.home-main .box-bd .first a {
  display: block;
  width: 100%;
  height: 100%;
}

.brick-item {
  position: relative;
  z-index: 1;
  width: 234px;
  height: 260px;
  padding: 20px 0;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  transition: all 0.2s linear;
}

.box-bd .brick-item .figure {
  width: 160px;
  height: 160px;
  margin: 0 auto 18px;
}

.box-bd .brick-item .figure a {
  display: block;
}

.box-bd .brick-item .figure img {
  width: 160px;
  height: 160px;
}

.home-main .box-bd .brick-item .title {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 0 10px 2px;
}

.home-main .box-bd .brick-item .title a {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #333;
}

.box-bd .brick-item .desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #b0b0b0;
}

.box-bd .brick-item .price {
  margin: 0 10px 14px;
  text-align: center;
  color: #ff6700;
}

.box-bd .brick-item .price del {
  color: #b0b0b0;
}

.box-bd .brick-item .flag {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
  width: 64px;
  height: 20px;
  margin-left: -32px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

.flag-saleoff {
  background-color: #e53935;
}

.flag-new {
  background-color: #83c44e;
  z-index: 5;
}

.home-banner-box {
  margin: 28px 0 22px;
  height: 120px;
  overflow: hidden;
}

.home-banner-box a img {
  width: 100%;
}

/* 家电 */

.home-brick-box .box-bd .span-first .first-item img {
  height: 300px;
}

.home-brick-box .box-bd .span-first .first-item li {
  width: 234px;
  padding: 0;
  margin: 0 0 14px;
  background: #fff;
  transition: all 0.2s linear;
}

/* 家电结束 */

/* 主体部分结束 */