.site-topbar {
    position: relative;
    z-index: 30;
    height: 2.5rem;
    font-size: .75;
    color: #b0b0b0;
    background: #333;
}

.container {
    *zoom: 1;
    margin: 0 auto;
}

.site-topbar {
    font-size: .75rem;
}

.site-topbar a {
    color: #b0b0b0;
    line-height: 2.5rem;
    display: inline-block;
}

.site-topbar .topbar-nav {
    flex-grow: 1
}

.site-topbar .topbar-nav span {
    margin: 0 .25rem;
    color: #424242;
}

.site-topbar .topbar-info .sep:last-child {
    margin-right: 2rem;
}

.site-topbar a:hover {
    color: #fff;
}

.topbar-cart {
    width: 7.5rem;
    order: 3;
}

.topbar-cart a {
    z-index: 32;
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
}

.topbar-cart .iconfont {
    padding-right: .5rem;
}

.topbar-cart a:hover {
    color: #ff6700;
    background: #fff;
}

.topbar-cart .cart-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 2.5rem;
    width: 20rem;
    height: 4rem;
    line-height: 4rem;
    padding: 1rem 0;
    color: #424242;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 31px;
    transition: loader 5s linear;
}

.topbar-cart .cart-menu .loading {
    margin: 0 1.25rem 0 1.25rem;
    text-align: center;
}

@keyframes loader {
    0% {
        -webkit-transform: scale(1, 0.5);
        transform: scale(1, 0.5);
        opacity: .2;
        filter: alpha(opacity=20)\9
    }

    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 1;
        filter: alpha(opacity=100)\9
    }
}

.topbar-cart span {
    margin-left: .25rem;
}